@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 224 71.4% 4.1%;

		--muted: 220 14.3% 95.9%;
		--muted-foreground: 220 8.9% 46.1%;

		--popover: 0 0% 100%;
		--popover-foreground: 224 71.4% 4.1%;

		--card: 0 0% 100%;
		--card-foreground: 224 71.4% 4.1%;

		--border: 220 13% 91%;
		--input: 220 13% 91%;

		--destructive: 0 72.2% 50.6%;
		--destructive-foreground: 210 20% 98%;

		--ring: 224 71.4% 4.1%;

		--radius: 0.5rem;
	}

	.dark {
		--background: 224 71.4% 4.1%;
		--foreground: 210 20% 98%;

		--muted: 215 27.9% 16.9%;
		--muted-foreground: 217.9 10.6% 64.9%;

		--popover: 224 71.4% 4.1%;
		--popover-foreground: 210 20% 98%;

		--card: 224 71.4% 4.1%;
		--card-foreground: 210 20% 98%;

		--border: 215 27.9% 16.9%;
		--input: 215 27.9% 16.9%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 210 20% 98%;

		--ring: 216 12.2% 83.9%;
	}

	[data-theme='winter'] {
		--primary: 215 100% 50%;
		--primary-foreground: 210 20% 98%;

		--secondary: 247 47% 43%;
		--secondary-foreground: 210 20% 98%;

		--accent: 215 100% 50%;
		--accent-foreground: 210 20% 98%;
	}

	[data-theme='cmyk'] {
		--primary: 203 83% 60%;
		--primary-foreground: 210 20% 98%;

		--secondary: 335 78% 60%;
		--secondary-foreground: 210 20% 98%;

		--accent: 203 83% 60%;
		--accent-foreground: 210 20% 98%;
	}

	[data-theme='cupcake'] {
		--primary: 183 47% 59%;
		--primary-foreground: 210 20% 98%;

		--secondary: 338 71% 78%;
		--secondary-foreground: 210 20% 98%;

		--accent: 183 47% 59%;
		--accent-foreground: 210 20% 98%;
	}

	[data-theme='night'] {
		--primary: 198 93% 60%;
		--primary-foreground: 210 20% 98%;

		--secondary: 234 89% 74%;
		--secondary-foreground: 210 20% 98%;

		--accent: 198 93% 60%;
		--accent-foreground: 210 20% 98%;
	}

	[data-theme='dracula'] {
		--primary: 326 100% 74%;
		--primary-foreground: 210 20% 98%;

		--secondary: 265 89% 78%;
		--secondary-foreground: 210 20% 98%;

		--accent: 326 100% 74%;
		--accent-foreground: 210 20% 98%;
	}

	[data-theme='sunset'] {
		--primary: 16 100% 68%;
		--primary-foreground: 210 20% 98%;

		--secondary: 341 97% 71%;
		--secondary-foreground: 210 20% 98%;

		--accent: 16 100% 68%;
		--accent-foreground: 210 20% 98%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
